* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f1424a;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/download.jpg);
  background-position: center;
  background-size: cover;
  filter: brightness(0.4);
  z-index: -1;
}

nav {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: white;
  align-items: center;
}

#logo {
  grid-column: 2/3;
  font-size: 24px;
}

.hamburger {
  justify-self: flex-end;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.hero {
  height: 80%;
  width: 100%;
  position: relative;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.headline {
  position: absolute;
  top: 70%;
  left: 10%;
  color: white;
  transform: translate(-20%, -70%);
  z-index: 2;
}

.headline h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  text-shadow: 2px 4px 0px #f1424a;
}

.headline p {
  font-size: 1rem;
}

.headline button {
  margin: 2rem 0;
  padding: 8px;
  min-width: 100px;
  font-family: "Lato";
  font-weight: 600;
  text-transform: lowercase;
  font-size: 1rem;
  transition: 0.2s ease;
  border: none;
  outline: none;
  border-radius: 5px;
}

button:hover {
  background-color: #f1424a;
  color: white;
  cursor: pointer;
}
